<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
>
    <testsuites>
        <testsuite name="WP Guardrail Service Layer">
            <directory suffix=".php">tests/</directory>
            <exclude>tests/bootstrap.php</exclude>
            <exclude>tests/WPG_TestCase.php</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">core/</directory>
            <directory suffix=".php">modules/</directory>
        </include>
    </source>
</phpunit>
